.header {
    text-align: center;
    color: rgb(29,86,189);
    text-shadow: 1px 1px gray;
    font-size: 50px
}

form {
    text-align: center;
}

mat-form-field {
    margin: 10px
}

button {
    background: rgb(29,86,189);
    color: white
}

.left {
    float: left;
    margin-left: 300px
}

.right {
    float: right
}

.results {
    margin-top: 75px;
}

img {
    max-width: 30vw;
    margin-right: 300px
}

.name {
    font-size: 40px;
    color: rgb(29,86,189);
    text-shadow: 1px 1px gray
}

.address {
    margin: 0;
    font-size: 18px
}

.phone {
    margin: 0;
    font-size: 18px
}





/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
    
  }
  
  /* Ipad COMPLETE */
  @media screen and (max-width: 769px) {

  }
  
  /* Iphone 6/7/8 Plus COMPLETE */
  @media screen and (max-width: 414px) {

  }
  
  /* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
  @media screen and (max-width: 412px) {
    .left {
        margin: 0 auto 0 auto;
        display: block;
        max-width: 100vw;
        text-align: center;
    }

    img {
        align-content: center;
        margin: 0
    }

    .right {
        float: bottom;
        margin-right: 45%
    }

    .image {
        min-width: 50vw
    }

    .results {
        margin-top: 50px
    }
  }
  
  /* Iphone 5/SE & Galaxy S5 */
  @media screen and (max-width: 375px) {
    .left {
        margin: 0;
        max-width: 100vw;
        text-align: center;
    }

    img {
        align-content: center;
        margin: 0
    }

    .right {
        float: bottom;
        margin-right: 45%
    }

    .image {
        min-width: 50vw
    }

    .results {
        margin-top: 50px
    }
  }